<h1>Transactions:</h1>

<section class="transactions" *ngIf="$transactions | async as transactions; else loading">

  <app-navigation *ngIf="transactions">
    <app-button *ngFor="let item of limitItems"
                (click)="setLimit(item)">{{item}} <span>limit</span></app-button>
  </app-navigation>

  <table>
    <thead>
      <tr>
        <th>Transaction ID</th>
        <th>USER ID</th>
        <th>TITLE</th>
        <th>MONEY</th>
        <th>COMPLETED</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let action of transactions | slice:0:listLimit; let i = index">
        <td>{{action.id}}</td>
        <td>{{action.userId}}</td>
        <td>
          <strong>{{action.title}}</strong>
        </td>
        <td>{{i}} €</td>
        <td [class.success]="action.completed">{{action.completed}}</td>
      </tr>
    </tbody>
  </table>
</section>

<ng-template #loading>
  <span class="loading">LOADING...</span>
</ng-template>


