<h1>{{ 'TRANSACTIONS_PAGE.TITLE' | translate}}:</h1>

<section class="transactions" *ngIf="$transactions | async as transactions; else loading">

  <app-navigation *ngIf="transactions">
    <app-button *ngFor="let item of limitItems"
                (click)="setLimit(item)">{{item}}
      <span>{{ 'TRANSACTIONS_PAGE.LIMIT_BTN' | translate}}</span>
    </app-button>
  </app-navigation>

  <table>
    <thead>
      <tr>
        <th>{{ 'TRANSACTIONS_PAGE.TABLE.TRANSACTION_ID' | translate}}</th>
        <th>{{ 'TRANSACTIONS_PAGE.TABLE.USER_ID' | translate}}</th>
        <th>{{ 'TRANSACTIONS_PAGE.TABLE.TITLE' | translate}}</th>
        <th>{{ 'TRANSACTIONS_PAGE.TABLE.MONEY' | translate}}</th>
        <th>{{ 'TRANSACTIONS_PAGE.TABLE.COMPLETED' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let action of transactions | slice:0:listLimit; let i = index">
        <td>{{action.id}}</td>
        <td>{{action.userId}}</td>
        <td>
          <strong>{{action.title}}</strong>
        </td>
        <td>{{i}} €</td>
        <td [class.success]="action.completed">{{action.completed}}</td>
      </tr>
    </tbody>
  </table>
</section>

<ng-template #loading>
  <span class="loading">{{ 'TRANSACTIONS_PAGE.LOADING' | translate}}...</span>
</ng-template>


