:host {
  display: grid;
  min-height: 600px;
  justify-content: center;
  align-content: start;
}

table {
  position: relative;
  display: grid;
  max-height: 500px;
  border-collapse: collapse;
  min-width: 100%;
  margin-top: 10px;
  grid-template-columns:
    minmax(70px, 1fr)
    minmax(70px, 1fr)
    minmax(70px, 3fr)
    minmax(70px, 1fr)
    minmax(70px, 1fr);
  overflow: scroll;
}

thead,
tbody,
tr {
  display: contents;
}

th, td {
  padding: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  position: sticky;
  top: 0;
  text-align: left;
  font-weight: normal;
  font-size: 1rem;
  color: white;
  background-color: var(--btn-primary-hover);
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
}

tr:nth-child(even) td {
  background: var(--table-row-dark);
}

.success {
  color: var(--success-color);
}

