<h1>Transactions:</h1>
<section class="transactions" *ngIf="$transactions | async as transactions">
  <table >
    <thead>
      <tr>
        <th>Transaction ID</th>
        <th>USER ID</th>
        <th>TITLE</th>
        <th>MONEY</th>
        <th>COMPLETED</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let action of transactions | slice:0:40; let i = index">
        <td>{{action.id}}</td>
        <td>{{action.userId}}</td>
        <td>
          <strong>{{action.title}}</strong>
        </td>
        <td>{{i}} €</td>
        <td [class.success]="action.completed">{{action.completed}}</td>
      </tr>
    </tbody>
  </table>
</section>

